[Unit]
Description=Navigation Messages Router
Requires=network.target

[Service]
Type=simple
User=solidsense
ExecStart=/home/laurent/navigation_server/run_server  /home/laurent/config/navigation_settings.yml
Restart=always
RestartSec=6

[Install]
WantedBy=multi-user.target