[Unit]
Description=Navigation Messages Router
Requires=network.target

[Service]
Type=simple
User=solidsense
ExecStart=/home/solidsense/navigation/run_server  /home/solidsense/config/navigation_settings.yml
Restart=always
RestartSec=6

[Install]
WantedBy=multi-user.target