[Unit]
Description=Data Server
Requires=network.target

[Service]
Type=simple
User=solidsense
ExecStart=/home/solidsense/navigation/run_server /home/solidsense/config/data-server.yml
Restart=on-failure
RestartSec=6

[Install]
WantedBy=multi-user.target