[Unit]
Description=Navigation Local Agent
Requires=network.target

[Service]
Type=simple
User=root
ExecStart=/home/laurent/navigation_server/run_server /home/laurent/config/settings-agent.yml
Restart=always
RestartSec=6

[Install]
WantedBy=multi-user.target