[Unit]
Description=Navigation Local Agent
Requires=network.target

[Service]
Type=simple
User=root
ExecStart=/home/solidsense/navigation/run_server /home/solidsense/config/settings-agent.yml
Restart=always
RestartSec=6

[Install]
WantedBy=multi-user.target