[Unit]
Description=Navigation Local Agent
Requires=network.target

[Service]
Type=simple
User=solidsense
ExecStart=/usr/bin/python3  /data/solidsense/navigation/src/navigation_message_server.py --settings /data/solidsense/config/navigation_settings.yml -d /data/solidsense/navigation
Restart=always
RestartSec=6

[Install]
WantedBy=multi-user.target