[Unit]
Description=Victron MPPT Data Server
Requires=network.target

[Service]
Type=simple
User=solidsense
ExecStart=/usr/bin/python3  /data/solidsense/navigation/src/energy_mgmt_svr.py -i /dev/ttyUSB0 -d /data/solidsense/navigation/
Restart=on-failure
RestartSec=6

[Install]
WantedBy=multi-user.target