#-------------------------------------------------------------------------------
# Name:        settings.yml
# Purpose:     Settings file for the navigation server
#
# Author:      Laurent Carré
#
# Created:     26/12/2021
# Copyright:   (c) Laurent Carré Sterwen Technology 2021-2022
# Licence:     <your licence>
#-------------------------------------------------------------------------------
#
function: trace CAN
log_level: INFO
trace_dir: /mnt/meaban/Bateau/tests
# log_file: test_fast_packet
log_module:
  router_core.coupler: INFO
  nmea2000.nmea2000_msg: INFO
  can_interface.nmea2k_controller: INFO
  nmea2000.nmea2k_active_controller: INFO
  nmea2000.nmea2k_device: INFO
  can_interface.nmea2k_application: INFO
  nmea2000.n2k_name: INFO
  can_interface.nmea2k_can_interface: INFO
  nmea2000.nmea2k_iso_transport: INFO
  nmea2000.nmea2k_iso_messages: INFO
  can_interface.nmea2k_can_coupler: INFO
  nmea2000_devices.nmea2000_device: DEBUG

features:
  - router_core
  - can_interface
  - nmea2000
  - nmea2000_devices

servers:

- Main:
    class: NavigationMainServer

- NMEAServer:
    class: NMEAServer
    port: 4500
    nmea2000: dyfmt

- NMEASender:
    class: NMEASenderServer
    port: 4503
    nmea2000: dyfmt
    coupler: CANCoupler

- gRPCMain:
      class: GrpcServer
      port: 4502

- NMEANetwork:
      class: NMEA2KActiveController
      trace: false
      channel: can0
      max_silent: 60.0
      applications: [CANCoupler, APEmulator]

couplers:

- CANCoupler:
    class: DirectCANCoupler


filters:



services:

- Console:
      class: Console
      server: gRPCMain

publishers:

- TraceOutput:
    class: N2KStatisticPublisher
    couplers: [CANCoupler]
    # filters: [NMEAOutput, AIS]
    active: false
    flexible_decode: false

applications:

- APSimulator:
    class: DeviceSimulator
    address: 10
    pgn_list: [129283, 129284, 129285]
    model_id: Auto Pilot

- APEmulator:
    class: AutoPilotEmulator
    address: 10
    model_id: Auto Pilot Emulator




