[Unit]
Description=Navigation Can Server (ECU function)
Requires=network.target

[Service]
Type=simple
User=laurent
ExecStart=/home/laurent/navigation_server/run_server  /data/navigation/config/stnc_can_server.yml
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target