[Unit]
Description=GNSS management Server
Requires=network.target

[Service]
Type=simple
User=laurent
ExecStart=/home/sterwen/navigation_server/run_server /home/sterwen/system/conf/gnss_server.yml
Restart=on-failure
RestartSec=6

[Install]
WantedBy=multi-user.target
