# udev rule for the MPPT USB slot
SUBSYSTEM=="tty", ATTRS{devpath}=="1", ATTRS{busnum}=="3", SYMLINK+="mppt"
SUBSYSTEM=="tty", ATTRS{devpath}=="1.1", ATTRS{busnum}=="3", SYMLINK+="gnss"
