[Unit]
Description=CAN bus intialisation
Requires=network.target

[Service]
Type=simple
User=root
ExecStart=/home/laurent/system/can_setup
Restart=no


[Install]
WantedBy=multi-user.target