[Unit]
Description=Data Server
Requires=network.target

[Service]
Type=simple
User=laurent
ExecStart=/home/laurent/navigation_server/run_server /data/navigation/config/data-server.yml
Restart=on-failure
RestartSec=6

[Install]
WantedBy=multi-user.target